/* html,body{ overflow-y:scroll;}
html,body{ overflow:scroll; min-height:101%;}
html{ overflow:-moz-scrollbars-vertical;} */
html, body {
    margin:0;
    padding:0;
    }
.main{
    /* 让div铺满整个页面 */
    width: 100%;
    height:100%;
    position:fixed;
}
#accordion{
    float: left;
    clear: left;
    height: 100%;
    width: 10%;
}
ul{
    width: auto;
    padding:0; 
    list-style: none;
}
.layui-bg-cyan ul li{
    width: 100%;
    text-align: center;
    line-height: 50px;
}
#content{
    width: 89%;
    height: 100%;
    float: left;
    border: 1px solid #000;
}

#logout{
    width: 60px;
    height:30px;
    line-height: 30px;
    padding: 5px;
    background-color: #009688;
    color:white;
    position: absolute;
    bottom:50px;
    left:55px;
    border:none;
    padding: 0;
}